

a:visited {
color:#0F3D3E;
}
a:hover {
color: #F1F1F1;
}
body{
background-color:#384344;
}
p, div, li{
color:#c5c5c5;
}
h1{
color:#c5c5c5;
}
nav{
    background-color:#B4CDE6;
}
h2{
    color:#F1F1F1;
}

nav a{
    color:#0F3D3E;
}
nav a:hover{
    color: #F1F1F1;
}
nav {
    padding:10px;
    margin-bottom:30px;
}

@media only screen and (max-width: 820px) {
    nav a{ width: 100%;
    display: block;}
    span {display: none;}
}