a:visited {
    color:#9003fc;
}

a:hover{
    color: #fc8c03;
}

body {
    background-color:#000000;
}

p{
    background-image: url("../images/pumpkin.jpeg");
}


.second{
    border: 2px solid #fc8c03;
    margin: 20px;
    padding: 30px;
}
